<div class="xl:flex md:py-6 xl:py-12 h-90 mx-auto">
<div class="container px-4 mx-auto flex flex-col justify-center">
<h1 class="text-4xl md:text-4xl mx-auto ul text-gray-700 py-8">Education</h1>
<ul class="p-4 lg:p-8 bg-coolGray-100 text-coolGray-800">
	<li>
		<article>
			<div class="grid p-4 overflow-hidden md:grid-cols-5 rounded-xl lg:p-6 xl:grid-cols-12 hover:bg-coolGray-50">
				<h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9">Engineering</h3>
				<time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 text-coolGray-600">2020 - 2024</time>
				<p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 text-coolGray-700">Began my Engineering life at KMEA College in Civil Engineering.</p>
			</div>
		</article>
	</li>
	<li>
		<article>
			<div class="grid p-4 overflow-hidden md:grid-cols-5 rounded-xl lg:p-6 xl:grid-cols-12 hover:bg-coolGray-50">
				<h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9">Higer Secondary</h3>
				<time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 text-coolGray-600">2018 - 2020</time>
				<p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 text-coolGray-700">Two years of my happier life held at GHSS Kongarapilly. It really helped me to improve my skills and social anxiety </p>
			</div>
		</article>
	</li>
	<li>
		<article>
			<div class="grid p-4 overflow-hidden md:grid-cols-5 rounded-xl lg:p-6 xl:grid-cols-12 hover:bg-coolGray-50">
				<h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9">High School</h3>
				<time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 text-coolGray-600">2008 - 2020</time>
				<p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 text-coolGray-700">Learnt to count from 1 - 100, found many friends. I really wish to go back to the time in Nirmala HSS Aluva</p>
			</div>
		</article>
	</li>
</ul>
</div>
</div>
