<div class="xl:flex md:py-6 xl:py-12 h-90 mx-auto">
<div class="container px-4 mx-auto flex flex-col justify-center">
<h1 class="text-4xl md:text-4xl mx-auto ul text-gray-700 py-8  ">About Me</h1>
<div class="flex justify-center">

<figure class="rounded-xl p-8">
  <img class="w-48 h-48 rounded-full mx-auto" src="/assets/images/nasrin2.jpg" alt="" width="384" height="512">
  <div class="pt-6 text-center space-y-4">
    <blockquote>
      <p class="text-md font-semibold">
        I'm Nasrin, a problem solver from India <br> Currently Pursuing B-Tech in Civil Engineering <br> I enjoy reading & having a sweet melody from Spotify 
	<br> Create Something New
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-cyan-600">
        Fathima Nasrin
      </div>
    </figcaption>
  </div>
</figure>
</div>

</div>
</div>
