<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-blue-400 mb-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative  flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start"> 
      <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" routerLink="/home">
        Fathima Nasrin
      </a>
      <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent  rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
</svg> 
      </button>
    </div>
    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
	       
	<li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs  font-semi-bold leading-snug text-white hover:opacity-75" routerLink="/about">
            <i class="text-lg leading-lg text-white opacity-75"></i><span class="ml-2">About Me</span>
          </a>
        </li>
	<li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs  font-semi-bold leading-snug text-white hover:opacity-75" routerLink="/interest">
            <i class="text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Interest</span>
          </a>
        </li>
	<li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs font-semi-bold leading-snug text-white hover:opacity-75" routerLink="/education">
            <i class="text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Education</span>
          </a>
        </li>
	

        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs font-semi-bold leading-snug text-white hover:opacity-75" routerLink="/skills">
            <i class="text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Skills</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs  font-semi-bold leading-snug text-white hover:opacity-75" routerLink="/projects">
            <i class="text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Projects</span>
          </a>
        </li>
	<li class="nav-item">
          <a class="px-3 py-2 flex items-center text-xs  font-semi-bold leading-snug text-white hover:opacity-75" routerLink="/contact">
            <i class="text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Contact</span>
          </a>
        </li>


      </ul>
    </div>
  </div>
</nav>
