 <div class="xl:flex md:py-6 xl:py-12 h-90 mx-auto">
        <div class="container px-4 mx-auto flex flex-col justify-center">
	<h1 class="text-4xl md:text-4xl mx-auto py-8">Wanna talk?</h1>
            <div class="md:w-1/2 xl:w-9/12 py-6 md:py-12 mx-auto">
                <div class="mt-6">
                    <div class="mb-4 flex flex-col">
                        <label for="fullname" class="font-medium text-sm text-gray-600 uppercase mb-2">Name</label>
                        <input id="fullname" type="text" class="border border-solid rounded py-2 px-3 focus:border-blue-600 transition-colors duration-300">
                    </div>
                    <div class="mb-4 flex flex-col">
                        <label for="email" class="font-medium text-sm text-gray-600 uppercase mb-2">Email</label>
                        <input id="email" type="email" class="border border-solid rounded py-2 px-3 focus:border-blue-600 transition-colors duration-300">
                    </div>
		    <div class="mb-4 flex flex-col">
			<label for="text" class="font-medium text-sm text-gray-600 uppercase mb-2">Message</label>
		    	<textarea id="text" class="border border-solid py-2 px-3 focus:border-blue-600 transition-colors duration-300">
			</textarea>
		    </div>
                    <div class="mt-6 md:mt-12">
                        <button class="bg-blue-500 hover:bg-blue-200 text-xl text-white rounded-full py-2 px-6 md:px-8 xl:px-12 transition-colors duration-300">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
