<div class="xl:flex md:py-6 xl:py-12 h-90 mx-auto">
<div class="container px-4 mx-auto flex flex-col content-center">
<h1 class="text-4xl md:text-4xl mx-auto py-8">My Skills</h1>

<div class="mb-4 flex flex-col content-center">
<h1>Revit</h1>
<div class="h-3 relative w-90 rounded-full overflow-hidden">
<div class="w-full h-full bg-gray-200 absolute"></div>
<div id="bar" class="h-full bg-green-500 relative w-0" style="width:50%"></div>
</div>
</div>

<div class="mb-4 flex flex-col">
<h1>AutoCad</h1>
<div class="h-3 relative w-90 rounded-full overflow-hidden">
<div class="w-full h-full bg-gray-200 absolute"></div>
<div id="bar" class="h-full bg-green-500 relative w-0" style="width:30%"></div>
</div>
</div>

<div class="mb-4 flex flex-col">
<h1>FrontEnd Development</h1>
<div class="h-3 relative w-90 rounded-full overflow-hidden">
<div class="w-full h-full bg-gray-200 absolute"></div>
<div id="bar" class="h-full bg-green-500 relative w-0" style="width:75%"></div>
</div>
</div>

<div class="mb-4 flex flex-col">
<h1>Communication</h1>
<div class="h-3 relative w-90 rounded-full overflow-hidden">
<div class="w-full h-full bg-gray-200 absolute"></div>
<div id="bar" class="h-full bg-green-500 relative w-0" style="width:90%"></div>
</div>
</div>

<div class="mb-4 flex flex-col">
<h1>Humour</h1>
<div class="h-3 relative w-90 rounded-full overflow-hidden">
<div class="w-full h-full bg-gray-200 absolute"></div>
<div id="bar" class="h-full bg-green-500 relative w-0" style="width:100%"></div>


</div>
</div>






</div>	
</div>
