<div class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 mx-auto">
     <div class="flex flex-wrap m-12">      
      <div class="px-4 md:w-1/2 flex flex-col items-start">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Interests</h2>
        <ul class="leading-relaxed mb-8 list-disc py-3 items-center">
                <li>CAD Designing</li>
                <li>Front-end Development </li> 
                <li>Music</li>
        </ul>
      </div>
      <div class="px-4 md:w-1/2 flex flex-col items-start">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Achievements</h2>
        <ul class="leading-relaxed mb-8 list-disc py-3 items-center">
		<li>Won Portfolio Competition conducted by HackClub</li>
		<li>Received Proficiency for 3 Years </li>
		<li>Selected as Campus Ambassador</li>
		<li>Member of Hack Club</li>
		<li>Member of XAMK</li> 
	</ul>
      </div>
    </div>
  </div>
</div>
