<div class="text-gray-600 body-font overflow-hidden mx-auto">
  <div class="container px-5 py-24 mx-auto justify-center">
     <div class="flex flex-wrap -m-12">      
      <div class="p-12 md:w-1/2 flex flex-col items-center">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Interests</h2>
        <ul class="leading-relaxed mb-8 list-disc py-3 items-start">
                <li>CAD Designing</li>
                <li>Front-end Development </li> 
                <li>Music</li>
        </ul>
      </div>
      <div class="p-12 md:w-1/2 flex flex-col items-center">
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Achievements</h2>
        <ul class="leading-relaxed mb-8 list-disc py-3 items-start">
		<li>Won Portfolio Competition conducted by HackClub</li>
		<li>Received Proficiency for 3 Years </li>
		<li>Selected as Campus Ambassador</li> 
	</ul>
      </div>
    </div>
  </div>
</div>
